body{
    background-color:whitesmoke;
}
.cell{
 width: 75px;
 height:75px;
 border: solid 1.5px;
 box-shadow: 0 0 0 1.5px;
 line-height:75px;
 font-size:40px;
 cursor:pointer;
}
#gamecontainer{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
header{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     letter-spacing:2px;
     width:35%;
     height:20px;
     margin:auto;
     padding: auto;
     margin-top: 25px;
   }
   footer{
    margin-top:25px;
    font-size:smaller;
    color: black;
   }
   h1{
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing:8px;
    margin-bottom:25px;
    margin-left:9px;
    font-weight:bold;
    text-align: center;
   }
 #Text{
    padding:1em;
 }  
#rematchButton, #npButton{
       border: solid 2px rgb(0, 0, 0);
    height:3rem;
    width:10em;
    font-size:23px;
    font-weight:bold;
    cursor:pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom right, rgb(252, 172, 189), rgba(252, 190, 20, 0.89));
}
/**#npButton{
    background-image: linear-gradient(to bottom right, rgb(145, 215, 243), rgba(28, 243, 125, 0.808));

}**/
#cellsGrid{
    background-color: white;
    margin-top:1em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 230px;
    margin: auto;
}
/**
label{
 
  width: 30%;
  text-align: right;
  padding-right: 10px;
  }
input{
  display: inline-block;
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  vertical-align: middle;
}
#done{
    display: inline-block;
     margin-top: 5px;

}
#names{
    background-image: linear-gradient(to bottom right, rgba(145, 215, 243, 0.521), rgba(28, 243, 125, 0.808));
    border: solid 2px white;
    padding: 10px;
    width: 40%;
    height: 28%;
    margin: auto;
    margin-bottom: 21px;
    border-radius: 5px;
}
**/